{
  "extends": [
    "eslint:recommended",
    "plugin:es5/no-es2015"
  ],
  "env": {
    "node": true,
    "browser": true
  },
  "rules": {
    "no-console": "error",
    "no-prototype-builtins": 0
  },
  "globals": {
    "Promise": true,
    "Set": true
  }
}
