body {
  -skrollr-animation-name: body-anim;
}
@-skrollr-keyframes body-anim {
  top {
    background-color: rgb(255, 54, 115)
  }


  bottom {
    background-color: rgb(10, 157, 12)
  }
}

.content{
  position:relative;
  overflow-x:hidden;
}

.example.original {
    -skrollr-animation-name:example-original-anim;
}

@-skrollr-keyframes example-original-anim {
    0 {
      left:200%;
    }

    650 {
      left:0px;
    }


}
h1:first-of-type {
  -skrollr-animation-name:first-h-anim;

}
@-skrollr-keyframes first-h-anim {
    0 {
      transform:scale(1) rotate(0deg);
        }

    350 {
      transform:scale(.5) rotate(360deg);opacity:1;    }


}
h1:nth-of-type(2) {
  -skrollr-animation-name:second-h-anim;

}
@-skrollr-keyframes second-h-anim {
    0 {
      transform:scale(0) rotate(0deg);
        }

    550 {
      transform:scale(1) rotate(360deg);opacity:1;
      }
}
