body {
  background-color: rgb(255, 54, 115)
}

pre {
  padding: 17px;
  padding-left: 30px;
  background-color: rgba(0, 0, 0, 0.03);
}

pre code {
  background-color: transparent;
}

a {
  font-weight: 500;
}

strong, a, code {
  color: white;
}

p code {
  background-color: rgba(255, 255, 255, 0.1);
}

.content {
  font-family: "Helvetica Neue","Open Sans",sans-serif;
  width: 700px;
  margin: 1em auto;
  color: white;
}

.content > h1, .content > h2, .content > h3, .content > h4, .content > h5 {
  margin-top: 65px;
  
  font-weight: 100;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0 10px;
  text-transform: lowercase;
}

.content > h1 {
  font-size: 60px;
}

.content > h2 {
  font-size: 39px;
}

.content > h3 {
  font-size: 30px;
  margin-top: 35px;
}

.content > h4 {
  font-size: 23px;
}

.content > h1:first-of-type {
  color: rgb(255, 255, 255);
  font-size: 100px;
  font-weight: 100;
  text-align: center;
}

.content > * {
}

.content > p {
}

.content > p, .content > ol, .content > ul {
  font-size: 18px;
  font-weight: 200;
  font-family: "Helvetica Neue","Open Sans",sans-serif;
  color: rgba(255, 255, 255, 0.8);
  line-height: 30px;
}

.content > .example {
  width: 628px;
  margin: inherit;
  position: relative;
  padding-top: 16px;
}

pre.ace_editor {
  border: none;
}

.example .render, .example .error {
  padding: 20px;
  padding-left: 20px;
  font-family: sans-serif;
}

.example .render {
  background-color: rgba(0, 0, 0, 0.2);
}

.example > pre {
  background-color: rgba(0, 0, 0, 0.1);
}

.example.original:hover:before, .example.edited button.restore {
  position: absolute;
  z-index: 10;
  right: 0;
  top: 0;
  border: none;
  font-size: inherit;
  padding: 5px 12px;
  margin: 0;
  color: inherit;
  font-family: "Helvetica Neue","Open Sans",sans-serif;
  color: rgba(255, 255, 255, 0.53);
}

.example.original:hover:before {
  color: rgba(255, 255, 255, 0.53);
  background-color: rgba(0, 0, 0, 0.1);
  content: 'edit me!';
}

.example > pre .ace_marker-layer .ace_active-line {
  background-color: rgba(0, 0, 0, 0.2);
}

.example > pre .ace_gutter {
  background-color: rgba(0, 0, 0, 0.24);
  color: rgba(255, 255, 255, 0.39)
}

.example > pre .ace_gutter-active-line {
  background-color: rgba(0, 0, 0, 0.25)
}

.example > .render {
  
}

.example > .error {
  background-color: rgba(255, 36, 36, 0.57);
}

.example > div > .error {
  color: rgb(228, 0, 0);
  background-color: rgb(255, 241, 243);
  border-left: 12px solid rgb(255, 205, 205);
}

.example button {
  background-color: rgba(0, 0, 0, 0.2);
  border:none;
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  padding: 4px 9px;
  margin: 5px 0px;
  cursor: pointer;
  outline: none;
}

.example button:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.example .render input[type=text] + button {
  margin-left: 15px;
}

.example .render li {
  padding: 3px;
}

.example .render input[type=text] {
  background-color: rgba(237, 237, 237, 0.17);
  border: none;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.72);
  padding: 3px;
  font-size: 14px;
  color: inherit;
  outline: none;
}

.example .render input, .plastiq-output button, .example .render textarea {
  outline: none;
}

.example .render textarea {
  background-color: rgba(237, 237, 237, 0.17);
  border:none;
  color: inherit;
}

.example .render code {
  background-color: rgba(0, 119, 255, 0.05);
}
