:global(body) {
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.hello {
  text-transform: uppercase;
}

.beerList {
  border-collapse: collapse;
}

.beerList tr {
  border-bottom: 1px solid lightgrey;
}

.beerList td,
.beerList th {
  padding: 10px;
}
